.s-our-menu {
  background-color: var(--color-section);

  .h1 {
    color: var(--color-primary);
    margin: 20px 0;
  }

  .products-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .tabs {
    margin-bottom: 40px;
  }

  .see-full-btn {
    margin: 60px calc(50% - 125px);
    width: 250px;
  }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .s-our-menu {
    .products-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (min-width: 768px) {
  .s-our-menu {
    .content-container {
      margin: 0 auto;
      max-width: 1200px;

      .tabs {
        margin: 40px auto;
        width: fit-content;
      }
    };
  }
}

@media screen and (min-width: 1024px) {
  .s-our-menu {
    .products-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
