.cart-counter {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  color: var(--color-primary);
  display: flex;
  font-size: 13px;
  font-weight: 700;
  height: 25px;
  justify-content: center;

  position: relative;
  right: -6px;
  top: -6px;
  width: 25px;
}

.container {
  display: flex;
  height: inherit;
  justify-content: end;
  position: absolute;
  width: inherit;
}
