.input {
  background-color: #FAFAFA;
  border: 1px solid #DDD;
  border-radius: 6px;
  font-size: 18px;

  height: 45px;
  min-width: 45px;
  padding: 8px 12px;
  width: 116px;
}

.large {
  height: 60px;
  width: 160px;
}

.small {
  height: 38px;
  width: 64px;
}
