.container {
  background-color: var(--color-section);
  background-image: url('/static/section-watermark.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
  padding: 100px 3%;
}
