
.products-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .products-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .s-our-menu {
    .content-container {
      margin: 0 auto;
      max-width: 1200px;

      .tabs {
        margin: 40px auto;
        width: fit-content;
      }
    };
  }
}

@media screen and (min-width: 1024px) {
  .products-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
