.header {
  align-items: center;
  background-image: url('/static/header-bg.svg');
  background-position: 100% 0;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  .main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .header-img-container {
    margin: 60px 0;
  }

  @media screen and (min-width: 768px) {
    .content-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 1200px;

      .main-content {
        display: block;

        .h1,
        .description {
          text-align: left;
        }
      }

      .header-img-container {
        max-width: 523px !important;
      }
    }
  }
}

.highlight {
  color: var(--color-primary);
}

.h1 {
  margin: 20px 0;
}

.place-order-btn {
  margin: 45px 0 30px;
  width: 195px;
}

.trustpilot-p {
  margin: 12px 0 16px;
}
