.product {
  background-color: white;
  border: 1px solid rgba(53, 184, 190, 0.15);
  border-radius: 6px;
  padding: 16px;
  transition: border-color 0.4s;

  &:hover {
    cursor: pointer;
  }

  .title {
    font-size: 20px;
    margin: 20px 0 0;
  }

  img {
    border-radius: 8px;
  }

  input {
    margin-right: 8px;
    width: 60px;
  }

  &:hover {
    border-color: rgba(53, 184, 190, 0.5);
  }
}

@media screen and (min-width: 768px) {
  .product {
    display: grid;
    gap: 20px;
    grid-template-columns: minmax(120px, min-content) 1fr;
    grid-template-rows: 1fr;

    .title {
      margin: 0;
    }

    .product-image-container {
      align-items: center;
      display: flex;

      span {
        height: 120px !important;
        width: 120px !important;
      }
    }
  }
}
