.htag {
  color: #333;
}

.htag.h1 {
  font-size: 60px;
}

.htag.h2 {
  font-size: 28px;
}

.htag.h3 {
  font-size: 20px;
}

.htag.h4 {
  font-size: 28px;
}

.htag.title {
  font-size: 3.2em;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
}

.htag.primary {
  color: var(--color-primary);
}
