.s-fresh-products {
  background-color: #F5FBFC;
  // background-image: url('/static/section-bg.svg');
  background-repeat: repeat;
  background-size: auto;

  display: grid;
  justify-items: center;

  .h1 {
    color: var(--color-primary);
    margin: 20px 0;
  }

  .about-us-btn {
    margin: 45px 0;
    width: 250px;
  }

  .fresh-poroducts-img-container {
    margin-top: 45px;
  }
}
