:root {
  --color-primary: #35B8BE;
  --color-btn-flat: rgba(126, 130, 143, 0.1);
  --color-text: #546285;
  --color-link: #28224B;
  --color-error: #FF8946;
  --color-section: #F6FCFC;
}


.color-primary {
  color: var(--color-primary);
}
